*{
    margin: 0;
    padding: 0;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}

.nav{
    background-color: #f2fafa;
    padding-block: 10px;
    width: 100%;
}

.top_nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}

.contact_info{
    display: flex;
    align-items: center;
    gap: 67px;
    font-family: "Open Sans", Sans-serif;
}

.icon{
    color: #6EC1E2;
    font-size: 19px;
}

.req_btn{
    border: none;
    padding: 10px;
    width: 145px;
    border-radius: 3px;
    background-color: #22B6AF;
    font-weight: 600;
    color: #f2fafa;
    font-size: 15px;
}

.menu_nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin-block: 30px;
    font-size: 24px;
    text-transform: capitalize;
}

.menu_nav ul li:hover{
    color: #22B6AF;
}


