.main_strength {
    margin-block: 20px;
    background-color: #f0fafa;
    padding:50px;
}

.strength_heading h2{
    text-align: center;
    color: #142441;
    font-family: "Barlow", Sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
}

.strength_heading p {
    margin-block: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 5px;
}

.strength_boxes {
    margin-block: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 350px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.box2 {
    border-right: 2px solid #04fcfc;
    border-left: 2px solid #04fcfc;
}

.box3 {
    border-bottom: 2px solid #04fcfc;
}

.box .icon {
    font-size: 50px;
    text-align: center;
    margin-block: 20px;
    color: black;
}

.box .heading h3{
    color: black;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.box .content p {
    color: black;
    font-size: 19px;
    font-weight: 400;
    margin-block: 20px;
    text-align: center;
    line-height: 25px;
}